@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Syne", sans-serif ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(65, 65, 65, 0.2);
  -moz-box-shadow: 0px 11px 8px 0px rgba(65, 65, 65, 0.2);
  box-shadow: 0px 11px 8px 0px rgba(65, 65, 65, 0.2);
}

/* LEFT (LOGO) */
.header .left .logo {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #414141;
  font-size: 28px;
  font-weight: bold;
}

/* CENTER */
.header .center {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header .center input {
  padding: 10px 20px;
  border: 2px solid #70c05b;
  border-radius: 6px;
  color: #414141;
}

.header .center button {
  padding: 10px 20px;
  background: #70c05b;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* RIGHT */
.header .right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .right .right-list {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.header .right .right-list .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #414141;
}

.header .right select {
  border: none;
  padding: 10px;
  padding-right: 20px;
  font-size: 18px;
}

.mobile-menu {
  display: none !important;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: none; /* default */
  }

  .mobile-menu.active {
    display: flex !important;
  }
  .header .center input,
  .header .right {
    display: none;
  }

  /* Catalog button must stay visible */
  .header .center button {
    display: block;
  }

  /* MOBILE MENU */
  .mobile-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
    border-top: 2px solid #70c05b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .mobile-menu.active {
    display: flex;
  }

  .mobile-menu input {
    padding: 12px 20px;
    border: 2px solid #70c05b;
    border-radius: 6px;
  }

  .mobile-menu .right-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .mobile-menu .right-list .list {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #414141;
  }

  .mobile-menu select {
    padding: 12px;
    border: 2px solid #70c05b;
    border-radius: 6px;
  }
}

.reklama {
  background: url("./img/bg-reklam.png") center center;
  object-fit: cover;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reklama h1 {
  font-family: "Rubik", sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: #414141;
}

@media (max-width: 768px) {
  .reklama {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reklama h1 {
    margin-top: 30px;
    text-align: center;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px 300px;
}

.card {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #ddd;
  background: #fff;
  overflow: hidden;
  padding: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.discount {
  background: #FF6B3D;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.old-price {
  color: #888;
  font-size: 16px;
  text-decoration: line-through;
}

.title {
  margin: 8px 0;
  color: #333;
  font-size: 15px;
  height: 40px;
  overflow: hidden;
}

.stars {
  color: orange;
  margin: 8px 0;
}

.btn {
  width: 100%;
  padding: 10px;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-size: 16px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #4CAF50;
  color: white;
}

.top{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.top a {
  color: #414141;
}